<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Cultivos</title>
</head>
<body class="container mt-5">
    
<h1>Listado de Cultivos</h1>

<button type="button" class="btn btn-success"> 
    <a href="/cultivos/nueva" class="btn btn-success">Crear Nuevo Cultivo</a>
</button>
<br>
<br>
<table class="table table-active">
    <thead>
        <tr class="table-dark">
            <th>Nombre</th>
            <th>Fecha de Siembra</th>
            <th>Fecha de Cosecha</th>
            <th>Hacienda</th>
            <th>Estado</th>
            <th>Parcela</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <% cultivos.forEach(function(cultivo){ %>
            <tr>
                <td><%= cultivo.nombre %></td>
                <td><%= new Date(cultivo.fechaSiembra).toLocaleDateString('es-ES')  %></td>
                <td><%= new Date(cultivo.fechaCosecha).toLocaleDateString('es-ES') %></td>
                <td><%= cultivo.hacienda?.nombre %></td>
                <td><%= cultivo.estado %></td>
                <td><%= cultivo.parcela?.nombre %></td>
                <td>

                    <!-- Error aqui en este boton ver -->
                    <a href="#" class="btn btn-info">
                        <i class="fas fa-eye"></i> Ver
                    </a>
                   <!-- <a href="/cultivos/<%= cultivo._id %>" class="btn btn-info">
                        <i class="fas fa-eye"></i> Ver
                    </a>
                    -->
                
                    <!-- Botón de Editar -->
                  
                    <a href="/cultivos/editar/<%= cultivo._id %>" class="btn btn-secondary" style="font-size: 18px; color: #ffffff; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                        <i class="fas fa-pencil-alt"></i> Editar
                    </a>
                
                    
                    <!-- Formulario para la acción de Eliminar -->
                    <form id="deleteForm_<%= cultivo._id %>" action="/cultivos/eliminar/<%= cultivo._id %>" method="post" style="display:inline;">
                        <button type="button" class="btn btn-danger" onclick="confirmDelete('<%= cultivo._id %>')" style="color: #ffffff; background-color: #dc3545; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                            <i class="fas fa-trash"></i> Eliminar
                        </button>
                    </form>
                </td>
            </tr>
        <% }); %>
    </tbody>
</table>

<button type="button" class="btn btn-secondary">
    <a href="/" style="color: white; text-decoration: none;">Volver a Inicio</a>
</button>

<script>
    
    function confirmDelete(cultivoID) {
        // Utiliza la función confirm para mostrar un cuadro de diálogo
        if (confirm('¿Estás seguro de que quieres eliminar este registro?')) {
            // Si el usuario hace clic en "Aceptar", envía el formulario
            document.getElementById('deleteForm_' + cultivoID).submit();
        }
    }
</script>
</body>
</html>